/* common style  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

/* header style  */
/* navigation  */
header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 8.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10.2rem;
    padding-top: 5rem;
}

.logo{
    cursor: pointer;
    font-size: 4.5rem;
    font-weight: 700;
}
nav #menu{
    display: none;
}
.fa-bars{
    display: none;
}

.menu {
    display: flex;
    gap:4.4rem;
   
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #424242;

}
.menu li a:hover{
    background-color: #ff8f0e5b;
    transition: .3s;
}

/* hero section  */
.hero-section {
    text-align: center;
}

.hero-info {
    padding: 0 21rem;
    margin-bottom: 5rem;
}

.hero-title {
    font-size: 6.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 3.2rem;

}

.hero-description {
    color: #727272;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}

.btn-primary {
    cursor: pointer;
    background: #FF900E;
    border-radius: 8px;
    padding: 2.1rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #FFF;
    border: none;
}

.btn-primary:hover {
    color: #424242;
    background: none;
    outline: .1rem solid #FF900E;
    transition: background .4s;
}

.hero-img {
    max-width: 100%;
    margin-bottom: 5rem;
}

/* feature explore section  */
.feature-explore {
    display: flex;
    padding: 0 3.05rem;
    align-items: center;
    gap: 7.3rem;
    margin-bottom: 10.3rem;

}

.fe-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem
}

.fe-title {
    font-size: 4.4rem;
    color: #727272;
    margin-bottom: 2.4rem;

}

.fe-title span:first-child {
    color: #131313;
    font-weight: 700;
}

.fe-title span:nth-child(3) {
    color: #FF900E;
    font-weight: 700;
}

.fe-description {
    color: #727272;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

/* more feature style  */
.more-features {
    display: flex;
    justify-content: space-between;
    gap: 14.6rem;
    align-items: center;
    margin-bottom: 13rem;
}

.mf-title {
    border-left: .5rem solid #FF900E;
    font-size: 4.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 2.4rem;
    padding-left: 2rem;
}

.mf-description {
    color: #727272;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.feature {
    margin-bottom: 2rem;
    padding: 3rem;
    box-shadow: 0 .4rem 3rem rgba(0, 0, 0, 0.06);
}

.feature-title {

    font-size: 2rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 1rem;
}

.feature-descrtiption {
    font-size: 1.6rem;
    color: #727272;
    font-weight: 400;
}

.feature-img {
    width: 160rem;
    position: relative;
}

.feature-img img {
    max-width: 100%;
}

.btn-feature {
    cursor: pointer;
    padding: 4.5rem 4.2rem;
    color: #FFF;
    background-color: #FF900E;
    border: none;
    font-size: 2.5rem;
    font-weight: 500;
    border-radius: 0.8rem;
    position: absolute;
    bottom: -8rem;
    left: -8rem;
}

.btn-feature span {
    font-size: 6.5rem;
    font-weight: 700;

}

.btn-feature:hover {
    color: #424242;
    background: none;
    outline: .1rem solid #FF900E;
    transition: background .4s;
}

/* facts style  */
.facts-title {
    font-weight: 700;
    font-size: 4.5rem;
    color: #131313;
    margin-bottom: 2.4rem;
}

.facts-description {
    font-weight: 400;
    font-size: 1.6rem;
    color: #727272;
    margin-bottom: 10rem;
}

/* achievements style  */
@keyframes scaling {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4) rotate(-20deg);
    }

    100% {
        transform: scale(1);
    }
}

.achivements {
    display: flex;
    padding: 0 3.05rem;

    justify-content: space-between;
    text-align: center;
    margin-bottom: 18rem;
}

.achivement {
    position: relative;
    width: 24.1rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 3.5rem;
}
.achivement::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1rem;
    background-color: #FF900E;
    transition: width 0.5s ease;
    border-radius: 5px;
}
.achivement::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1rem;
    border-radius: 5px;
    background-color: #FF900E;
    transition: width 0.5s ease;
}
.achivement:hover::before,
.achivement:hover::after {
    width: 100%;
}
.achivement:hover img {
    animation-name: scaling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.a-title {
    font-weight: 600;
    font-size: 4.5rem;
    color: #424242;
}

.a-description {
    font-weight: 600;
    font-size: 2rem;
    color: #727272;
}
/* form style  */


/* sponsor style  */
.sponsors {
    text-align: center;
    margin-bottom: 13rem;
}

.sponsors-title {
    font-weight: 700;
    font-size: 4.5rem;
    color: #131313;
    margin-bottom: 2.4rem;
}

.sponsors-description {
    font-size: 1.6rem;
    color: #727272;
    margin-bottom: 5rem;
}

.sponsor-logo {
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
}

/* footer style  */
.footer {
    text-align: center;
    padding: 3.9rem;
    font-weight: 400;
    color: #424242;
    font-size: 2rem;
    background: #FFF4E7;
    margin-bottom: 20rem;
}

.hide {
    display: none;
}

@media screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .hero-info {
        padding: 0 2rem;
    }

    .navigation{
        flex-direction: column;
        position: relative;
    }
    .navigation #menu{
        display: block;
        position: absolute;
        top:7rem;
        right: 1.3rem;
        opacity: 0;
        z-index: 2;
    }

    .navigation .fa-bars{
        font-size: 2rem;
        display: block;
        position: absolute;
        z-index: 1;
        top:6.7rem;
        right: 1rem;
    }

    .menu{
        position: absolute;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        padding: 1rem 0;
        gap: 2rem;
        right: 0;
        width: 0;
       
    }
    .navigation input:checked~.menu{
        width: 12rem;
       
    }
    

    .feature-explore,
    .more-features,
    .achivements,
    .sponsor-logo {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .achivement,
    .sponsor-logo img {
        margin-bottom: 2rem;
    }

    .facts {
        text-align: center;
    }

    .mf-info {
        width: auto;
    }

    .fe-images {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .feature-img {
        width: auto;
    }

    .btn-feature {
        transform: scale(.5);
        right: 0;
        left: 0;
    }

    
}